:root {
    --bgc-main-color: #FFFFFF;
    --bgc-sec-color: #2F303A;
    --bgc-third-color: #F5F4FA;
    --studio-color: #2196F3;
    --main-text-color: #212121;
    --sec-text-color: #757575;
    --icon-color: #AFB1B8;
}

body {
    color: var(--main-text-color);
    background-color: var(--bgc-main-color);

    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    
    margin-bottom: 50px;
}

/* Хедер и логотип */

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
}

.first {
    color: var(--studio-color);
}

.second {
    color: var(--main-text-color);
}

.header-border {
    border-bottom: 1px solid #ECECEC;
}

.head-container {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 93px;
    
}

.nav-list .link {
    display: block;
    padding: 32px 0;
}

.nav-list .item:not(:last-child) {
    display: block;
    margin-right: 50px;
}

.contacts-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts-list .item:not(:last-child) {
    display: block;
    margin-right: 50px;
}

.navigation {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.navigation.current {
    color: var(--studio-color);
}

.address-header {
    display: flex;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--sec-text-color);

    align-items: center;
}

.navigation:hover,
.navigation:focus,
.address-header:hover,
.address-header:focus {
    color: var(--studio-color);
}

.icon-mail {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
    
}

.icon-phone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}



/* ГЛАВНАЯ СТРАНИЦА */
/* Герой */

.hero {
    background-color: var(--bgc-sec-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgc-main-color);
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: Roboto;
    padding: 10px 32px;
            
    color: var(--bgc-main-color);
    background-color: var(--studio-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* Секция преимуществ */

.advantage {
    padding-top: 94px;
}

.advantage-list {
    display: flex; 
    justify-content: space-between;
}

.advantage-list .item {
    display: block;
    max-width: 270px;
}

.adv-rectangle {
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bgc-third-color);
    border: none;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.adv-icon {
    width: 70px;
    height: 70px;
}

.advantage-list .item:last-child {
    padding-right: 0;
}

.advantage-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}



.advantage-text {
    line-height: 1.7;
    color: var(--sec-text-color);
}

/* Секция "чем занимаемся" */

.activity {
    padding-top: 0;
}

.activity-list {
    display: flex;
    justify-content: space-between;
}


/* Секция команды */

.personnel {
    background-color: var(--bgc-third-color);
}

.personnel-container {
    background-color: var(--bgc-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.personnel-list {
    display: flex;
    justify-content: space-between;
}

.personnel-list > .item > img {
    margin-bottom: 30px;
}

.personnel-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.personnel-position {
    font-size: 16px;
    line-height: 1.2;
    color: var(--sec-text-color);
    text-align: center;
    margin-bottom: 16px;
}

.personnel-contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.personnel-item {
    margin-right: 10px;
}

.personnel-item:last-child {
    margin-right: 0;
}

.personnel-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
}

.personnel-icon {
    display: block;
    width: 20px;
    height: 20px;
    
}

.personnel-link:hover,
.personnel-link:focus {
    background-color: var(--studio-color);
    fill: var(--bgc-main-color);
}

/* Секция постоянных клиентов */

.customer-list {
    display: flex;
    justify-content: space-between;
}

.customer-link {
    display: flex;
    fill: var(--icon-color);
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.customer-icon {
    width: 106px;
    height: 60px;
}

.customer-link:hover,
.customer-link:focus {
    fill: var(--studio-color);
    border: 1px solid var(--studio-color);
}

/* ПОРТФОЛИО */
/* Фильтр услуг */

.services-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.services-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    padding: 6px 22px;
    margin-left: 8px;

    background-color: var(--bgc-third-color);
    
    border-radius: 4px;
    border: none;

    cursor: pointer;
}

.services-button:hover,
.services-button:focus {
    background-color: var(--studio-color);
    color: var(--bgc-main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Услуги */

.services-photolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    margin-bottom: 30px;
}

.service-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.service-descr {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.service-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.service-type {
    font-size: 16px;
    line-height: 1.9;
    color: var(--sec-text-color);
}

.service-item:hover,
.service-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Футер */

.footer {
    background-color: var(--bgc-sec-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer > .container {
    display: flex;
}

.second-foot {
    color: var(--bgc-main-color);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;
}

.place {
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--bgc-main-color);

    margin-bottom: 9px;
}

.address-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);

}

.footer-info:not(:last-child) {
    display: block;
    margin-bottom: 9px;
}

.footer-second-section {
    margin-top: 12px;
    margin-left: 70px;
}

.join {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    color: var(--bgc-main-color);
}

.footer-socials {
    display: flex;
    margin-top: 20px;
}

.socials-item {
    margin-right: 10px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--bgc-main-color);
}

.socials-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--studio-color);
    fill: var(--bgc-main-color);
}
