.section--activity {
    padding-top: 0;
}

.activity {
    display: flex;
    justify-content: space-between;


    &__item {
        position: relative;
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;

        @include centeredFlex();

        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: $main-light-color;

        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
    }
}