.section--team {
    background-color: $sec-light-color;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    &__card {
        width: 100%;
        background-color: $main-light-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-top: 30px;
    }

    &__card img {
        width: 100%;
        margin-bottom: 30px;
    }

    &__member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 10px;
    }

    &__position {
        font-size: 16px;
        line-height: 1.2;
        color: $sec-text-color;
        text-align: center;
        margin-bottom: 16px;
    }

    &__socials {
        @include centeredFlex();
        margin-bottom: 24px;
    }   
}

@media (min-width:480px) {
    .team__card {
        width: 450px;
    }
}

@media (min-width:768px) {
    .team__card {
        width: 354px;
    }

    .team__card:nth-child(odd) {
        margin-right: 30px;
    }

    .team__card:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media (min-width:1200px) {
    .team__card {
        margin-top: 0;
        width: 270px;
    }

    .team__card:not(:last-child) {
        margin-right: 30px;
    }
}
