$main-light-color: #FFFFFF;
$main-dark-color: #2F303A;
$sec-light-color: #F5F4FA;
$studio-color: #2196F3;

$main-text-color: #212121;
$sec-text-color: #757575;

$header-border-color: #ECECEC;
$card-border-color: #EEEEEE;
$icon-color: #AFB1B8;

$button-blue-hover: #188CE8;